<!DOCTYPE html>
<html>
<head>
	<title>Login App</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/boostrap.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />



<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/3.4/examples/jumbotron-narrow/">

    <title>Narrow Jumbotron Template for Bootstrap</title>





</head>
<body>



    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/registration">Registration</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>

          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>







</body>
</html>
